<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alexantr.SimpleVideoConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Alexantr.SimpleVideoConverter.Properties.Settings>
            <setting name="InPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="OutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberOutPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncodeMode" serializeAs="String">
                <value />
            </setting>
        </Alexantr.SimpleVideoConverter.Properties.Settings>
    </userSettings>
</configuration>